@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: graphik-bold;
    src: url(./fonts/GraphikArabic-Bold.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-regular;
    src: url(./fonts/GraphikArabic-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-super;
    src: url(./fonts/GraphikArabic-Super.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-semibold;
    src: url(./fonts/GraphikArabic-SemiBold.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-medium;
    src: url(./fonts/GraphikArabic-Medium.woff2);
    font-display: swap;
}

.menu-item{
    @apply font-graphikRegular text-lg hover:text-darkRed;
}
.main-heading{
    @apply font-bold text-5xl md:text-5xl text-slate-700 font-graphikSuper dark:text-white;
}
.sub-heading{
    @apply font-graphikRegular text-darkBlue dark:text-gray-100;
}
.btn{
    @apply flex p-3 w-40 bg-blue-500 font-graphikBold rounded-xl justify-center text-white hover:text-white;
}
.description-paragraph{
    @apply font-graphikRegular text-darkBlue dark:text-white text-sm lg:text-lg self-start m-0 lg:w-96;
}
.section-title{
    @apply font-graphikBold text-4xl  space-y-6 px-4  text-darkBlue dark:text-white;
}
.tech-stack-item{
    @apply p-2 mx-1.5 my-1.5 w-fit  font-graphikBold text-white  bg-blue-500 rounded-xl;
}
.item{
    @apply border-2 border-blue-400 bg-blue-400 text-white p-1 text-center text-sm rounded-md font-graphikRegular w-24;
}
.item-text{
    @apply font-graphikRegular text-sm;
}
.theme-switch{
    @apply flex p-3 w-12 font-graphikRegular rounded-md justify-center text-white hover:text-white;
}
.card{
    @apply bg-blue-500 rounded-md flex flex-col border-2 border-blue-500 md:w-1/2 ;
}
.card-image{
    @apply rounded-t-md;
}
body{
    overflow-x: hidden;
}
body{
    @apply xl:px-64
}
.listItem{
    @apply font-graphikRegular text-lg
}
