@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: graphik-bold;
    src: url(./fonts/GraphikArabic-Bold.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-regular;
    src: url(./fonts/GraphikArabic-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-super;
    src: url(./fonts/GraphikArabic-Super.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-semibold;
    src: url(./fonts/GraphikArabic-SemiBold.woff2);
    font-display: swap;
}
@font-face {
    font-family: graphik-medium;
    src: url(./fonts/GraphikArabic-Medium.woff2);
    font-display: swap;
}

.menu-item{
    @apply font-graphikRegular text-lg hover:text-darkRed;
}
.main-heading{
    @apply font-bold text-5xl md:text-5xl text-slate-700 font-graphikSuper dark:text-white;
}
.sub-heading{
    @apply font-graphikRegular text-darkBlue dark:text-gray-100;
}
.btn{
    @apply flex p-3 w-48 bg-darkRed font-graphikRegular rounded-3xl justify-center text-white hover:text-white;
}
.description-paragraph{
    @apply font-graphikRegular text-white text-sm md:w-80 self-start m-0;
}
.grid-item{
    @apply  flex justify-center items-center rounded-md px-3 py-3;
}
.grid-item-text{
    @apply text-2xl font-graphikBold ;
}
.tech-stack-item{
    @apply p-2 mx-1.5 my-1.5 w-fit  font-graphikBold text-white  bg-blue-500 rounded-2xl;
}
.item{
    @apply border-2 border-blue-400 bg-blue-400 text-white p-1 text-sm rounded-md font-graphikRegular w-24;
}
.item-text{
    @apply font-graphikRegular text-sm;
}
.theme-switch{
    @apply flex p-3 w-12 font-graphikRegular rounded-md justify-center text-white hover:text-white;
}